[2017-04-27 19:32] chemphys opened #2 "Two pointers to same value"
Hey @zonca ,

I have a question. The software I am writting have monomer, molecule and system classes. Right now, the coordinates are stored in each one of the monomers. To accelerate things in the electrostatics, I would like to have an array of coordinates also in the system class. The coordinates of the monomer are stored in the heap, in a shared_ptr. Let's say I have the following peace of cod

[2017-04-27 20:55] #2 closed, assigned to nobody

[2017-06-19 21:55] darcykimball opened #3 "MB dynamic polymorphism"
I think I had asked Marc about this, but I'll explain here as a PSA:

Do the many-body energy functions need to depend on the dynamic types (runtime-type) of the monomer "units"? There's a polymorphic base class, Monomer, with a virtual member function Calc1BEnergy, so the built-in dispatch system works:

[code]

Fine. We can get the right 1B energies just by manipulating polymorphic references.

[2017-08-12 20:17] chemphys opened #4 "Structure and timeline [WIP]"
# Structure and Timeline for the development of the software
@dgasmith I will keep updating this in the upcoming days. I am also tagging @zonca, who collaborates with us at SDSC (San Diego Supercomputer Center), and is mainly helping with the obtainment of the potential energy functions, and he can keep track of what's going on.

## Main goal to accomplish by 12/31/2017
This code should be able to

[2017-08-13 19:41] #3 closed, assigned to nobody

[2017-08-18 01:05] chemphys opened #5 "Domain decomposition implementation [WIP]"
## Proceeding to the implementation of an efficient neighbor list.

I have been looking at different algorithms used in the MD packages to keep track of the neighbors. I put here some of the most interesting ones:
- link-cell algorithm (DLPOLY2) is useful for short cutoff distances in comparison with the cell size.
- Brode-Ahlrichs scheme (DLPOLY2) is useful for long cutoff distances in comparison

[2017-08-19 01:00] chemphys opened #6 "Making Clusters_Ultimate public"
@dgasmith , I will proceed to make this repo public. Before that, I want to ask you if there is anything I should do before (like protecting the master branch, or something like that). @zonca , @agoetz , feel free to add any comment!

Thanks!

[2017-08-25 03:09] #6 closed

[2017-08-25 17:26] chemphys opened #8 "Add Travis CI [WIP]"
We need to add the continuous implementation to the repository.

[2017-08-27 19:37] chemphys opened #9 "Add water monomer energy function [WIP]"
In order to add the PS PEF, we need to:
- Add the files of the patridge-Shwenke surface
- Add functions that update the charges given the positions
- Add functions that update the coordinates of the virtual sites given the positions
- Test the energy for a water monomer

[2017-08-27 19:38] chemphys opened #10 "Migrate compilation to CMake [WIP]"
Do this after issue #9 is closed.

[2017-08-31 16:06] #5 closed

[2017-08-31 17:58] chemphys commented on #10
@dgasmith , I added CMake compilation. There are a few things I would like to discuss that I cannot find on the internet. Is there anyway I can tagg you in the fork I have in my account? Or should I make a pull request and then you can see the code?
Thanks!

[2017-09-02 17:54] #9 closed

[2017-09-02 17:57] chemphys opened #12 "Vectorization of water monomer energy [WIP]"
Now the reference water monomer energy calculation is implemented, we will proceed to vectorize this calculation.

@dgasmith , will we use autovectorization from intel compilers, or we set everything manually?

[2017-09-03 17:04] dgasmith commented on #12
Most compliers have "autovectorization" when compiled with higher levels of optimization. I don't know what you mean by setting everything manually (perhaps OMP SIMD flags?). You could use ICC for its nice vector reporting, but I would not necessarily use intel specific pragma's.

[2017-09-03 21:47] #10 closed

[2017-09-04 23:41] chemphys commented on #12
I tried to compile the basic example 2.3.2 in
https://www.kernel.org/pub/linux/kernel/people/geoff/cell/ps3-linux-docs/CellProgrammingTutorial/BasicsOfSIMDProgramming.html
But doesn't seem to compile, since it does not identify some of the flags:
gcc: error: unrecognized argument in option ‘-mabi=altivec’
gcc: note: valid arguments to ‘-mabi=’ are: ms sysv
gcc: error: unrecognized command line opt

[2017-09-05 01:49] chemphys commented on #8
@dgasmith I think I worked out the problem of
1) Not using cmake 3.3 (default whith that config file was 3.2)
2) Eventhough we ask to use g++5 and g++4.9, since CXX and CC are not defined, uses the difault for the ubuntu tools, which is 4.8, and that makes cmake fail
Probably not the most beautiful solution (what I made) but something that works.

The rest of errors are due to the code, which I wi

[2017-09-05 13:58] dgasmith commented on #12
It probably does not make sense to work with intrinsics for this project. You would have to build a generator to produce fairly complex code. Fortunately, your program is trivially vectorizable and most compilers will take care of it, it is more about organizing the data in such a way that it is amenable to vectorization.

It is best to try the simplest thing first and check the vector report to s

[2017-09-07 02:06] chemphys commented on #12
Hey @dgasmith , I have a probably stupid question, but might be worth to ask.
I am rewritting the pot_nasa function
 https://github.com/paesanilab/clusters_ultimate/blob/master/src/potential/1b/ps.cpp#L491](url) and I am doing the following:
- I am adding a third argument (size_t nw) which will indicate the number of water molecules we have
- I am looping overall the water molecules every time tha

[2017-09-07 13:42] dgasmith commented on #12
The code you wrote is perfectly valid. The main note here is that simply calling `reserve` does not initialize those values unlike `resize` which will use the default constructor for each value.

You should be careful, `double vector[3]` and `double* vector = new double[3]` do two very different things (heap vs stack). My main point about using `std::vector` was that for long term holding and pass

[2017-09-12 20:18] chemphys commented on #12
Hey @dgasmith , I think I made the code vectorizable. I attach the vectorization report from icpc. The loops that it doesnt vectorize are loops that icpc consider inneficient to do so. I will go on and start implementing 2b and 3b, and start vectorization of those files, if you think that 1b is OK.

Thanks!
[ps.optrpt.txt](https://github.com/paesanilab/clusters_ultimate/files/1297294/ps.optrpt.txt

[2017-09-12 20:19] #8 closed

[2017-09-12 20:36] chemphys opened #15 "Add two-body PEFs for water [WIP]"
I will start to implement the 2B potentials for water (MB-pol) in the software.

[2017-09-12 20:44] dgasmith commented on #12
Did you time it with and without optimization and do you have any idea of what the optimal speedup is? Also, do you agree with Intel's vector report?

[2017-09-12 20:56] chemphys commented on #12
I don't really understand why it doesn't vectorize (as example) loop in line 521 or 529, since in principle are additions or multiplications. Is that because I am using the +1 in the pointer? Or anytime I use + i?
And regarding the timings I haven't done it yet. I am adding right now the chronos library so I can get ms accuracy.

[2017-09-12 21:11] chemphys commented on #12
Wait, i think i see what is wrong.
Let me see if i can fix that.
________________________________
From: Daniel Smith <notifications@github.com>
Sent: Tuesday, September 12, 2017 1:44:14 PM
To: paesanilab/clusters_ultimate
Cc: Marc Riera-riambau; Author
Subject: Re: [paesanilab/clusters_ultimate] Vectorization of water monomer energy [WIP] (#12)

Did you time it with and without optimization and do

[2017-09-13 00:26] chemphys commented on #12
Yeah, fixed. Now I am having a segfault with intel compilers that I don't have with g++... I will work on that.

[2017-09-13 02:16] chemphys opened #16 "Problem with intel compilers and clang"
Hey @dgasmith ,

I cannot figure out what is going wrong with the intel and clang compilers. There are 3 problems that I can see:
1. g++ compiles and runs, but there are some numerical differences (8th decimal place) that are slightly suspicious (I didn't have them before) because...
2. icpc is compiling, but there is an error with test number 5 (energy + gradients of a single water molecule). The

[2017-09-20 20:52] chemphys commented on #16
@dgasmith , I still ahve this problem. I went ahead and add 2b and 3b for water, but I don't want to try to vectorize it until the problem with intel compilers is solved. Maybe on Friday we can discuss this and see what can be going on.

[2017-09-20 21:38] chemphys opened #17 "Vectorization of polynomials for H2O 2b/3b [WIP]"
Hey @dgasmith , I started thinking how to vectorize the polynomial files.
As you know, most of the part of those files is declaring constants that depend on other constants:
[code]
If we want to put several systems and make a loop, the "straight forward" idea is to make those variables an array, not constant, and leave in the form of:
[code]
The problem I see with this is that there might be then

[2017-09-23 16:46] chemphys commented on #16
@dgasmith , solved.

[2017-09-23 16:46] #16 closed

[2017-09-23 17:36] chemphys opened #18 "icpc fails to compile code when optimization is activated"
Hey @zonca ,

This repo compiles well with clang, g++ and intel without optimizzations. However, I run into an error when I optimize the code with optimization (-O1, -O2 or -O3).
[code]
Googling a little bit seems that is a memory error, but using the keyword -mcmodel=large also doesn't help.
I tried multi-file optimization (-ipo) and it still fails. Any idea?
@agoetz , @darcykimball , maybe you k

[2017-09-23 17:52] zonca commented on #18
Hi, investigating this kind of weakly identified issues in a very large
codebase requires a large amount of time. Sorry I don't have time available
to do it.

On Sat, Sep 23, 2017, 19:37 Marc Riera Riambau <notifications@github.com>
wrote:

[2017-09-23 23:21] darcykimball commented on #18
Is it a segfault (SIGSEGV)? Can you get a stacktrace?

[2017-09-24 01:40] chemphys commented on #18
Is in the compilation process. The error I show in the previous message is everything that appears. Is there any option in icpc to give a full compilation log? I cannot find anything else. How can I get the stacktrace when using make?

[2017-09-24 02:36] darcykimball commented on #18
From googling, it seems that you can at least make it emit a report of optimizations made; check the man page or somewhere on https://software.intel.com/en-us/node/522791. If something went wrong during optimization the report should give some indication; if the compiler simply ran out of memory, that should be noticeable too (hopefully).

If the compiler didn't spit out a stacktrace, then you may

[2017-09-25 19:57] chemphys commented on #18
Thanks @darcykimball for the suggestion of splitting the function.
Just a note. I pushed right now the polynomials for the 2b calculation as they will also be for the three-body. If you check the poly-2b-v6x.cpp in src/potential/2b/ , you will see that now the polynomials accept a set of dimers instead of a single dimer. The idea behind this is that then, since the operations are the same for all

[2017-09-25 22:02] chemphys commented on #18
By the way, @darcykimball , how do you replace all t??? by t[???] ?

[2017-09-25 22:48] darcykimball commented on #18
Couple things:

The way I split it up was arbitrary, since I just wanted to see if splitting it would make it compilable; I chose to pass around intermediate values (all those t# variables) as some array. This should change how things are optimized, e.g. unless you put __restrict__ annotations on array arguments, the compiler won't be able to convince itself that each temporary doesn't change once

[2017-09-25 22:55] darcykimball commented on #18
I used something like:

:1,$s/t\([0-9]\+\)/t\[\1\]/g

in vim, which in English is "replace all occurrences of t followed by at
least one digit, by t, [, those digits, and then ]". Sed or perl can do the
same thing with about as much typing.

On Mon, Sep 25, 2017 at 3:02 PM, Marc Riera Riambau <
notifications@github.com> wrote:

[2017-09-25 23:14] chemphys commented on #18
Hey Kevin,

I have not done yet any check. I am working on it right now, but I wanted first to make the code compile with optimizations. I will check the optimization reports and see the timings and then we will see what is faster. I will put it here in github once I have everything in place.

And thanks for the command!

[2017-09-26 01:32] #18 closed

[2017-09-26 01:33] #12 closed

[2017-09-26 01:33] #15 closed

[2017-09-26 02:25] chemphys commented on #17
Hey @dgasmith ,
I got 2 and 3 body to work, and 2b is in the vectorized format. However, if I just use the standart optimizations, I get this message for both the polynomila functions with and without gradients:
[code]
I looked for this remark in the intel website, and this means that the loop is too big to be safely vectorized. Then I use the keyword -qoverride-limits, and I get:
[code]
for the n

[2017-09-26 16:06] dgasmith commented on #17
It is a complex function, but there isn't a immediate reason (to me) why the compiler cannot do this. Increasing the override limits is usually not a good idea; however, the other compiler suggestion of trying a `pragma amp simd` is a really good one.

Please upload the full vector report of the result to a gist if it does not work.

[2017-09-26 16:12] chemphys commented on #17
Will this `pragma omd simd` work on g++? Or I will have to change it?

[2017-09-26 16:17] dgasmith commented on #17
It will work on `g++`, but you will have to incorporate OMP flags into your build (one of the reasons we moved to CMake). See [here](https://stackoverflow.com/questions/12399422/how-to-set-linker-flags-for-openmp-in-cmakes-try-compile-function) and [here](https://cmake.org/cmake/help/v3.0/module/FindOpenMP.html). You should then wrap your OMP code in `ifdef`'s:

[code]

[2017-09-26 16:27] chemphys commented on #17
Perfect. I'll look at this.
Thanks!

[2017-09-26 22:41] chemphys commented on #17
@dgasmith , when you said `pragma omd simd`, did you mean `pragma omp simd`?

[2017-09-26 22:54] dgasmith commented on #17
Apologies, looks like autocorrect got to me.

-Daniel Smith
Sent from my iPhone.

[2017-09-26 22:59] chemphys commented on #17
In any case, that doesn't help either (with intel compilers). I attach the full optimization report here for the shortest of the polynomials (the 2b, no gradient).
It still complains that the loop is too large. And also, while compiling, this appears in the output:
[code]
Any thoughts? A part from breaking the function, I am out of ideas.

[poly-2b-v6x-nogrd.optrpt.log](https://github.com/paesanil

[2017-09-27 14:17] bennybp commented on #17
Intel has two more vectorization pragmas you can try. In particular, `#pragma vector` has an `always` option which may override some checks. No guarantees though - that function might just be too long/complex for automatic vectorization, unfortunately.

Details on `#pragma vector`: https://software.intel.com/en-us/node/524559

This other is `#pragma simd`, which I'm not as familiar with.

[2017-09-27 15:52] chemphys commented on #17
Thanks! I will try this. Unfortunately today i am out of the office moving thousands of boxes to my new place.. i will give it a try!

Thanks a lot for your tips!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Benjamin Pritchard <notifications@github.com>
Sent: Wednesday, September 27, 2017 7:17:30 AM
To: paesanilab/clusters_ultimate
Cc: Marc Riera-riambau;

[2017-09-27 16:40] agoetz commented on #17
The compiler needs to allocate storage to keep track of variables during optimization, e.g. to check if there are loop dependencies. This message "Space exceeded in Data Dependence Test in [...]" basically says that the compiler ran out of memory. I don't know if there is a way to get around this or if there are other limitations to vectorization. Does any of you have contacts to Intel compiler en

[2017-09-28 16:55] chemphys commented on #17
OK, @bennybp . With the `#pragma vector` keyword it says that is possible to vectorize, but it seems innefficient. Then I follow the suggestion from the compiler, adding `-vec-threshold0`, but apparently the compiler totally ignores it:
[code]
I also tried with the `pragma vector always`, but it also ignores it (same message is repeated).

[2017-09-28 16:56] chemphys commented on #17
@agoetz I do not have any contact in intel.

[2017-09-28 17:00] dgasmith commented on #17
@jeffhammond We are trying to get the intel compiler to vectorize the [this expression](https://github.com/chemphys/clusters_ultimate/blob/master/src/potential/2b/poly-2b-v6x-nogrd.cpp) which is atomically generated from some CAS. This expression is admittedly a bit lengthy, but should be vectorizable automatically. Any ideas here without going to intrinsics?

[2017-09-28 17:48] jeffhammond commented on #17
Autovectorization works a lot better if you have tight loops, rather than thousands of scalar statements.  Can you generate loops rather than unrolling everything inside of the `nv` loop?

I gave the same advice to Ed Valeev years ago w.r.t. LIBINT, by the way.

[2017-09-28 17:55] jeffhammond commented on #17
Adding any SIMD directive on the `nv` probably won't help, because the body almost certainly requires many more registers than exist, so generating SIMD instructions won't help, because you'll just thrash L1.

Anyways, I assume the source is the output of a code generator.  You can't have your cake and eat it too: either your code generator needs to generate vector intrinsics or you should generat

[2017-09-28 18:27] chemphys commented on #17
Hey Jeff, thanks for your reply. The function you have been looking at is the output of a MAPLE optimization to evaluate a polynomial function. This polynomial has as many terms of different degrees (usually not more than 6th order) as the pointer `double a[N]`. Passing this polynomial as input, MAPLE optimizes the evaluation to do the less number of operations possible.

The function [here] (http

[2017-09-28 18:44] dgasmith commented on #17
@jeffhammond Thanks for the tip, I was hoping autovectorization would be smart enough to discard unused temporaries to keep in registers as most of the temporaries can be destroyed shortly after creation. I guess I will wait a bit longer until compilers are no longer based in reality.

@chemphys If we did hold a 15k * 10k matrix per thread this actually isn't too bad (~1GB), plus you can always ch

[2017-09-28 18:44] jeffhammond commented on #17
Unless MAPLE reduces the number of operations by more than a factor of 4, you would be better off using naive math that vectorizes, than using an optimized math expression that uses scalar instructions.  And that 4 is for AVX2 with 64-bit floats.  It turns into 8 with AVX-512 or 32-bit floats and 16 with both.

Where can I find the reference implementation of this code in terms of `exp()` etc.?

[2017-09-28 18:49] jeffhammond commented on #17
@dgasmith In theory, compilers can do this, but pretend you are a compiler developer: do you prioritize optimizing the output of code generators or humans?  Who is writing more code these days?  Who is more likely to need (and be willing to pay for, if it's a commercial product) help from the compiler?

Maybe I am being pessimistic.  You can set the "override all limits" option and see what happen

[2017-09-28 19:01] dgasmith commented on #17
@jeffhammond It was more of a hope than anything else, the market force are quite apparent. If anything I would expect the code generators to start paying more attention to this. [loo.py](https://documen.tician.de/loopy/) is a great example.

[2017-09-28 19:01] chemphys commented on #17
The evaluation is divided in two parts. The structure [x2b_v9x](https://github.com/chemphys/clusters_ultimate/blob/master/src/potential/2b/x2b-v9x.h) receives a set of XYZ coordinates. Then it calculates all the distances that play a role in the polynomials, and it calculates the exponential values. Those values are passed to the polynomial function [with](https://github.com/chemphys/clusters_ulti

[2017-09-28 19:07] chemphys commented on #17
@dgasmith , then we can move to dispersion and electrostatics. I will leave the 2b and 3b as it is right now (with the loop, knowing that it wont be vectorized) and focus on implementing the dispersion and electrostatic routines.
Thanks @jeffhammond , @bennybp, @dgasmith and @agoetz for all your help!

[2017-09-30 15:18] chemphys opened #19 "Dispersion Interaction [WIP]"
I will proceed to add the dispersion interactions to the code.

In classical forcefields, the dispersion interaction (and non bonded interactions in general) depends on the type of atom, and each pair of atom types has a defined set of parameters to be used in the non-bonded contribution. However, in our approach, each pair of monomers has defined C6 coefficients. This means that water with water

[2017-10-02 13:48] dgasmith commented on #19
A `std::vector<std::vector<...>>` is fine, just realize that the memory is not continuous in the outer `std::vector`.

If you compute the C6/C8/d6/d8 of a given dimer your might as well sum the data and simply return the energy unless you require this data elsewhere. It would be better with your K-DTree implementation to give the host atom along with *all* of its neighbors and return the summed di

[2017-10-02 17:05] chemphys commented on #19
For the vector of vectors is fine. This is just to keep it stored during the full simulation, since the dispersion has to be calculated at each step. The inner vector contains all the data for each pair, and the outer vector is the vector that contains the different vectors for all the different dimers.

With the kd-tree, I don't see if I understand the point. Since we know the monomers that will

[2017-10-07 21:49] chemphys opened #21 "Timings Info"
Hey @dgasmith ,

I made a few modifications to the code:
- AddClusters has been modified to only take into account the first N monomers for **i** in **<i,j>** pairs, and **<i,j,k>** trimers. These doesn't speed down the code and allows to deal with as many molecules as we want. N, for now, is fixed in the initialization of the system to 4096, which is the maximum number I saw that was not affectin

[2017-10-08 21:37] dgasmith commented on #21
Sounds great, let me know when you have a few figures to show off.

[2017-10-08 22:28] chemphys commented on #21
Yeah, is something we can explore.

Regarding the timings, I post here a few plots.
There first three plots are comparisons between our old C++ energy code (the one that I have been using for REMD, and all the different analysis, labeled in the plots as **Clusters**) and the new one we are writting (labeled as **Ultimate**). The timings are in miliseconds, and each plot corresponds to one-body, tw

[2017-10-08 23:07] agoetz commented on #21
@chemphys This looks great. If you plot your timings on a log-log scale, it will be easier to see what is going at all problem sizes.

[2017-10-09 18:15] chemphys commented on #21
I leave them here:
![1b](https://user-images.githubusercontent.com/10054173/31352294-169a3528-ace3-11e7-848c-439ce59dae26.jpg)
![2b](https://user-images.githubusercontent.com/10054173/31352295-18670b10-ace3-11e7-8839-eed51611074e.jpg)
![3b](https://user-images.githubusercontent.com/10054173/31352298-1b00749c-ace3-11e7-9d1c-bf2161072884.jpg)

[2017-10-13 21:54] #19 closed

[2017-10-13 21:54] #21 closed

[2017-10-13 21:55] chemphys opened #22 "Tang-Toennies function modification [WIP]"
The Tang-Toennies damping function needs to be modified. Not a priority, but will be done.

[2017-10-13 21:57] chemphys opened #23 "Add Function to set positions of the virtual sites [WIP]"
Will need a function, previous to start implementing electrostatics, that sets the positions of the virtual sites (for now, only water has M sites).

[2017-10-13 21:58] chemphys opened #24 "Add function to set charges [WIP]"
Need to implement a function that sets charges once position of all atoms are set. Water has coordinate-dependent charges.

[2017-10-13 22:00] chemphys opened #25 "Implement Electrostatics [WIP]"
The implementation of the electrostatics will be following the iterative method to obtain the dipoles. For now, no PBC. See PDF for information about the theory and implementation.
[Electrostatics.pdf](https://github.com/paesanilab/clusters_ultimate/files/1384113/Electrostatics.pdf)

[2017-10-16 18:19] chemphys commented on #22
Hey @fpaesani ,
I have been looking to the Tang-Toennies damping function coded in the reference C++ code. Daniel noticed that there was a weird loop, and I cannot see why is that loop there. The actual function is as follows:
[code]
The first part,
[code]
is the one that calculates the damping. The second part
[code]
is only activated if the damping result is smaller than 1E-08. Do you have any i

[2017-10-16 18:24] fpaesani commented on #22
I believe it is just for stability reasons. I think we can trust Volodymyr's code.

[2017-10-16 18:29] chemphys commented on #22
Yeah, I do trust it. The only proble is that this loop, since it has multiple exits, prevents automatic vectorization of the dispersion forces calculation. I just wanted to rewrite it in a way that it doesn't do that. I will think about it later, then, because this is not critical. Thanks!

[2017-10-16 23:00] chemphys commented on #23
Hey @bella-le ,

I put here the coordinates OxOyOzHx...HzOxOy...HzOz...Hz for three water molecules, and their corresponding virtual sites. You can try creating this vector manually and makeing sure the virtual sites have the same coordinates.
[code]

[2017-10-18 00:02] chemphys commented on #25
Hey @dgasmith ,
I am trying to come up with a good way to loop over everything in the electrostatic routine. I have two options:
- Loop over SITES <i,j>. This will be easy to go through and fast to implement. The only problem is that then we need to check if a pair <i,j> is excluded, by finding the pair in a set that contains all the excluded pairs of the system. Also, the screening parameter **_a

[2017-10-19 23:56] chemphys commented on #25
Hello @dgasmith  and @fpaesani ,
A couple of updates about the vectorization of the electrostatics. I think I can divide the obtainment of the different components in two parts:
- Interactions due to sites in the same monomer (for now, later will have to be molecule). This part is practically impossible to vectorize for a couple reasons. A) we need to find if the pair we are looking at is excluded

[2017-10-20 21:47] chemphys commented on #24
Hey @bella-le , here are the charges for the coordinates:
[code]
These coordinates should be the same as the ones you already have.

[code]

[2017-10-27 16:35] chemphys opened #26 "Bug in Domain decomposition"
There is a bug in domain decomposition that only appears for a large system. I am investigating the issue.

[2017-10-29 00:25] chemphys commented on #26
Fixed.

[2017-10-29 00:25] #26 closed

[2017-10-31 00:58] chemphys commented on #25
Electrostatics is implemented with gradients, and working. I will proceed now to clean up the code, reduce the number of vector declarations, and try to compact similar operations.

[2017-11-03 15:52] chemphys commented on #25
Hey @dgasmith , (@fpaesani to keep you in the loop)
I pushed to [my branch](https://github.com/chemphys/clusters_ultimate/tree/mrr/add_electrostatics/src/potential/electrostatics) the new version of the electrostatics. These are the new modifications:
- Vectorized all the field and gradient calculations. To add this, I needed to add the pragma ivdep since the compiler was confused about some depen

[2017-11-08 23:08] chemphys opened #28 "Migration of tests to use python [WIP]"
I will migrate the test script to be python scripts so we don't have numerical issues anymore. For now, I reduced the precision in the output of the tests, but It will be more robust to use Python scripts.

[2017-11-09 01:00] chemphys opened #29 "VTune report and Performance optimization [WIP]"
I will proceed to run VTune and see the bottlenecks of the computation.

[2017-11-09 01:04] chemphys commented on #25
Seems to work well. Closing issue.

[2017-11-09 01:04] #25 closed

[2017-11-09 16:36] chemphys opened #30 "Memory leak when compiling with GNU"
There is a mem leak when compile the software using GNU g++ 4.9.2. It seems that it comes from the OMP, but I cannot track the origin. I will investigate this issue.

[code]

[2017-11-13 21:29] chemphys commented on #29
Hey @dgasmith ,

I got VTune to work. I am following the steps [here](https://software.intel.com/en-us/vtune-amplifier-help-amplxe-cl-command-syntax) , and for now I made a collect hotspots. I guess now I can get the reports.

Let me know how do you want me to send you the reports, and which kind of reports do you want. I will keep playing with it.

See you!

[2017-11-18 18:52] #24 closed

[2017-11-18 18:52] #23 closed

[2017-11-18 18:54] chemphys commented on #29
Hey @dgasmith ,

When we were talking about looking into the scheduling, you meant using dynamic, static or guided, or adding chunks? I think I found a [straight forward tutorial](http://cs.umw.edu/~finlayson/class/fall14/cpsc425/notes/12-scheduling.html) in which they put examples of everything. I will play around with it. Thanks for the advice yesterday!

[2017-11-20 20:02] dgasmith commented on #29
That looks like a great starting tutorial! Ill keep that link for myself to be honest :)

When it comes to scheduling it really depends on your system. Static is the best, but it really requires you to know that each thread is going to take the exact same amount of time. I typically start out with guided these days as my compute is rarely that that even.

When it comes to VTune the first thing is

[2017-11-27 18:48] chemphys commented on #29
@dgasmith , I have been trying to make the parallel version to work, but there is something odd.
When you run with 1 core, the code runs fine. However, running with more than one yields a dipole divergence, which means that the values of the field are not set properly.

If you look [here](https://github.com/chemphys/clusters_ultimate/blob/mrr/parallelization/src/potential/electrostatics/electrosta

[2017-11-27 19:18] dgasmith commented on #29
Sure, your biggest issue is that your "Field" object has internal data which is causing race conditions. You will need one of these objects *per* thread as the first part of those calls is to zero all of the data.

Something like:
[code]

Then inside the for loop, pick out a single object per thread:
[code]

Three more notes:
 * Please rename things like "Field" and "DoEfdWoA" to something more de

[2017-11-27 19:25] chemphys commented on #29
Damn, I totally missed the field class... Thanks! I will fix this.
I will keep pushing to the pull request.

Thanks a lot!!!

[2017-11-29 22:29] bella-le opened #32 "Energy calculations with water and cesium"
There is a discrepancy in energy calculations with H2O and Cs between clusters and clusters_ultimate.
However, output is correct when using a different alkali metal such as Na

Test case used: [Cesium test case.zip](https://github.com/paesanilab/clusters_ultimate/files/1515783/Cesium.test.cases.zip)
Clusters output:
[code]

Clusters_ultimate output:
[code]

[2017-11-30 00:16] chemphys commented on #32
@bella-le , I think the issue is fixed. Can you try again to run the test? If it works, create a pull request to the master branch of https://github.com/chemphys/clusters_ultimate

Thanks!

[2017-11-30 19:32] chemphys commented on #32
Issue solved.

[2017-11-30 19:32] #32 closed

[2017-11-30 19:50] chemphys commented on #29
Hey @dgasmith , I put here a few updates.

* I have renamed the [classes](https://github.com/chemphys/clusters_ultimate/blob/mrr/parallelization/src/potential/electrostatics/fields.h#L49) and [functions](https://github.com/chemphys/clusters_ultimate/blob/mrr/parallelization/src/potential/electrostatics/fields.h#L62), so is more explicative
* I [rewrote the function definition](https://github.com/c

[2017-11-30 20:56] dgasmith commented on #29
Sounds good to me. One word of caution is if that 16cores/node is split over two physical chips you will have some interesting NUMA issues with your scaling that you likely have not encountered yet.

-Daniel Smith
Sent from my iPhone.

[2017-12-01 00:00] chemphys commented on #29
I think that TSCC has 16 real cores per chip, but I am not sure. I will take that into account.
I will post here the scaling when is done! Thanks!

[2017-12-04 20:46] chemphys commented on #29
Hello @dgasmith , @fpaesani and @agoetz ,
I put here a little bit of an update of the parallelization of the code.

As you all know, I have been working on improving the performance of the software @dgasmith and I are developing. After making the electrostatics as fast as we can for now using one core, we proceeded to add parallelization in the most expensive region of the code, which is the itera

[2017-12-05 02:28] dgasmith commented on #29
Cool, looks pretty good for 8 cores. In general I am pretty happy with 90%+ efficiency. We need to check higher core and chip counts, it would be good to do as well on 2x 16+ core chips.

[2017-12-05 02:39] chemphys commented on #29
I will look at the architecture of Stampede2 (TACC). It has 64 cores, but I have no idea how many chips. I have to look in the documentation.

[2017-12-08 17:59] chemphys commented on #29
I finally made the code compile in Stampede. I was having some problems, but with help of the people there is done. I have been looking in the [documentation](https://portal.tacc.utexas.edu/documents/10157/1475729/Stampede+2+Transition+Guide/7e2319ba-8f5c-4599-bf38-fd45e1db2839) and it seems that Stampede2 has 68 cores in the same socket (If you can double check page 3 of that document to confirm,

[2017-12-08 18:16] dgasmith commented on #29
Ah, KNL architecture is quite different than Xeon so your milage will vary. See [here](https://www.alcf.anl.gov/files/HC27.25.710-Knights-Landing-Sodani-Intel.pdf) for some docs and the pdf you linked is quite informative as well. I was hoping to optimize for a NUMA Xeon machine first, but we can work on KNL as well. This will mostly come down to minimizing data movement, which is a good thing to

[2017-12-08 18:30] chemphys commented on #29
Yeah, I already saw that pdf. The documentation in the TACC website is a little bit more clear to me. Maybe we can do the optimization thinking in the xeon machines first, since all the other supercomputers ( think) we have available ([tscc](http://www.sdsc.edu/support/user_guides/tscc-quick-start.html) , see Hardware info at the end, [comet](https://portal.xsede.org/sdsc-comet) , [DOD machines](h

[2017-12-10 01:34] chemphys opened #33 "Travis CI compilation time"
Hey @dgasmith ,

I updated the travis script and the tests. Now I use python to compare the files.
In any case, there is something I don't understand. To compile the code without optimizations with g++ in my machine takes less than a minute. However, travis seems to need way more time. Any idea why?

Thanks!

[2017-12-10 02:04] dgasmith commented on #33
Travis CI is giving you free compute time which is nice; however, they give you old virtualized (docker) Google CE (or maybe AWS?) instances which are not very fast. You can get faster or slower depending on which node you pick up. Compiling on Travis CI has always been quite slow relative to a native computer. Sometimes I wonder if the issue is IO not compute...

[2018-01-26 19:14] chemphys opened #34 "Header clean up to reduce compilation time"
Hey @dgasmith ,

As we have discussed, we have a problem with the compilation time of the package using g++. In our local machines and the supercomputers, this is not really a problem, since although it takes a little bit to compile, it ends compiling. However, in travis it takes too long. The two options you suggested are:
1. **Try to reduce the number of header files**. Sincerely, I didn't fully

[2018-01-27 21:20] dgasmith commented on #34
For 1) it doesn't look like you have the issue. Occasionally folks get into a bit of a bind where they make "convenience headers" which have many extraneous includes. This make what looks like a small import really include far too much and can greatly increase your compile time.

For 2) we might need to bring in @bennybp for the hybrid compilation.

One other option is to give custom flags to the

[2018-01-30 20:27] chemphys commented on #4
Closing issue.

[2018-01-30 20:27] #4 closed

[2018-01-30 20:27] chemphys commented on #28
Done. Closing issue.

[2018-01-30 20:27] #28 closed

[2018-02-10 18:39] chemphys commented on #34
Using the flags worked. Compilation time in travis reduced to 5 min with g++!!
Closing issue.

[2018-02-10 18:39] #34 closed

[2018-02-10 18:39] chemphys commented on #33
Solved, closing issue.

[2018-02-10 18:39] #33 closed

[2018-02-10 19:34] chemphys opened #37 "2B and 3B parallelization"
I started the parallelization of 2B and 3B. I will put here scaling tests of the different parts, and the global scaling.

[2018-02-10 19:38] chemphys commented on #37
@dgasmith , I prefered to open a new issue with just these 2b/3B parallelization.
There was a small bug in the indexing and I had to find it and fix it. Now everything seems to work fine.
I would appreciate if you can also put here the "few minor syntactic comments and one performance comment" even if they won't matter a lot. I prefer to have things as OK as possible!

Thanks!

[2018-02-10 20:31] dgasmith commented on #37
I believe I made three comments on the code base, did you get them?

[2018-02-10 20:38] chemphys commented on #37
I missed that!
"You might need to add separate grad buffers to write into. These blocking operations could potentially be expensive and then implement a binary tree summation. Just as a general preference it might be nice to abbreviate gradient as grad to be a bit clearer."
I got it now. I will update the names and see if I can implement this binary tree.

[2018-02-12 19:59] chemphys commented on #37
I am going to close this issue, and open one to implement the binary tree in the 2B and 3B gradient blocking. I will work on this after I write tests for everything, if you agree.

[2018-02-12 20:12] chemphys opened #38 "Implementation of binary tree to condense gradients"
The blocking of the gradients in the [system.cpp](https://github.com/paesanilab/clusters_ultimate/blob/master/src/bblock/system.cpp) file can be expensive. I will proceed to find a binary tree and implement it. I might need to discuss this with you in through videoconference, @dgasmith .

[2018-02-13 10:27] dgasmith commented on #37
Sounds good. As a note a binary tree sum is very simple. If you have N buckets you can use N/2 threads to sum pairs of buckets and then use N/4 threads to sum the next pairs of buckets and so on down the tree until you have a single array left. The other option is to use different thread to sum over different sections of the gradient rows which is simpler and likely more efficient in this case.

[2018-02-13 16:26] chemphys commented on #37
Cool, will do that then.
Thanks!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Daniel Smith <notifications@github.com>
Sent: Tuesday, February 13, 2018 2:27:43 AM
To: paesanilab/clusters_ultimate
Cc: Marc Riera-riambau; Author
Subject: Re: [paesanilab/clusters_ultimate] 2B and 3B parallelization (#37)

Sounds good. As a note a binary tree sum is very simpl

[2018-02-14 23:02] chemphys commented on #37
Hey @dgasmith ,
I will put here the speedup plots for the different functions. I think there is room for improvement.
Note that the time and speedup is for the entire function itself. This is, for the 2b, the time that I have measured is for the entire 2-body energy calculation (see time stamps in the [system.cpp](https://github.com/chemphys/clusters_ultimate/blob/mrr/parallelization/src/bblock/sy

[2018-02-15 01:09] dgasmith commented on #37
I thought the electrostatics was threading with very high efficiency in previous charts?

I wasn’t expecting stellar improvements without some work so this isn't entirely unexpected. At this point it’s best to run the 2-body through vtune to see what’s going on. Kind of feels like some sort of blocking operation is killing you.

-Daniel Smith
Sent from my iPhone.

[2018-02-15 03:48] agoetz commented on #37
@chemphys What algorithm are you using to converge the induced dipoles? @zonca is threading the OpenMM CPU platform and was not able to get a good speedup for induced dipoles. There is a new implementation in OpenMM that uses DIIS convergence acceleration, which seems to be quite efficient, Andrea will port this over to the MB-pol electrostatics in OpenMM. Maybe you two should also talk.

@chemphy

[2018-02-16 00:30] chemphys commented on #37
@agoetz , I can stop by tomorrow during the morning, when there is no visitation stuff to do.
I am not an expert on VTune, but I know how to get the things. @yazhai , will you be around?

[2018-02-16 01:37] chemphys commented on #37
Hey @dgasmith , I did a couple of modifications in the 2B and 3B functions, and now the speed up looks slightly better. I put the new ones below. As a note, my local machine has two sockets of 6 cores each. The weird 16 water molecules behavior is due to the short time that it takes to get the 2B (< 10ms), and since the times are in integer ms, the oscillations are pretty visible there.

I will in

[2018-02-16 01:40] yazhai commented on #37
Yes, I will be at office the whole morning until 4PM.

I used to test VTune once, but it did not support OpenMP well as I expected.

From: Marc Riera Riambau
Sent: Thursday, February 15, 2018 16:30
To: paesanilab/clusters_ultimate
Cc: Yaoguang Zhai; Mention
Subject: Re: [paesanilab/clusters_ultimate] 2B and 3B parallelization (#37)

@agoetz , I can stop by tomorrow during the morning, when there i

[2018-02-16 02:27] chemphys commented on #37
@dgasmith , seems like using a step of 1 in the [2b](https://github.com/chemphys/clusters_ultimate/blob/mrr/parallelization/src/bblock/system.cpp#L302) and [3b](https://github.com/chemphys/clusters_ultimate/blob/mrr/parallelization/src/bblock/system.cpp#L470) functions improves considerably the speedup. However, there is still this drop for 12 cores that I cannot fix. I will rerun with VTune and 1

[2018-02-16 02:30] dgasmith commented on #37
@chemphys If you are not using static OMP schedulers and pinning your threads it is often difficult to get good performance with OMP alone on nodes with NUMA. Effectively, a processor is going to need data that is associated with a different processor and moving the data between these NUMA domains is quite expensive.

[2018-02-16 16:26] chemphys commented on #37
The problem is that static scheduling here won't work, since usually the first iterations of the loop are the most expensive ones, and then it starts decreasing. When I run VTune I saw that the master thread was always busy in the parallel regions, the forst worker thread was less busy, the second even less... and so on. That is why I decided to go with dynamic shcheduling.

I can try a reorganiza

[2018-02-16 16:37] dgasmith commented on #37
To do static you need to reorganize the blocks so that each has equal work. This is not always an easy task to accomplish, but will help with your NUMA issues. This would involve clustering the 2-body into equal work groups rather than simply running over the possibilities.

[2018-02-16 20:13] chemphys commented on #37
I think I can do that, but will require a little bit of time. The work load difference between the different iterations of the loop is due to the fact that some dimers (since I am looking for a lot of them) are farther than what the polynomials accept, and thus are not evaluated. That makes that loop go considerably faster.

As a reminder, this is what the 2B and 3B loops do:
1. Get all dimers (tr

[2018-02-16 21:35] yazhai commented on #37
@chemphys will you be in SDSC some time today? Or perhaps next week?
I'm also doing some profiling with OpenMP, but my issue is most likely with regards of cache and memory, and work balance is the next thing.

[2018-02-16 22:28] chemphys commented on #37
Hey @yazhai , sorry, but I will come next week. Today I got busy.
We can see if we can make that work well.

[2018-02-16 22:30] yazhai commented on #37
@chemphys sure, np. Have a good weekend.

[2018-02-18 20:26] chemphys commented on #37
Hey @dgasmith ,

I run the timings on TSCC (16 cores, 2 sockets of 8), since I was not sure if when I was using 12 cores on my machine, I was actually using 12 (I am running several workspaces, with chrome, and so on). These are the speedups I get. Aparently, the dynamic schedule seems to work very well for large systems, but if #water molecules < 4 * ncores, the scaling drops fast.

Do you think

[2018-02-18 21:15] dgasmith commented on #37
Ah, I didn't know you had other processes on your computer while timing. That may be responsible as the TSCC results look quite good and honestly more inline with what I was expecting from a pretty easy parallel region.

For the static vs dynamic results: I agree that using static will take some time to figure out, it is always a tradeoff to go to something like static vs the niceties of dynamic.

[2018-02-18 21:20] chemphys commented on #37
I agree. I just tried dynamic scheduling without specifying a chunk size. I can see what happens if I use guided scheduling, but for what I have read in different openmp tutorial websites, dynamic scheduling migh have same or better performance than guided. I will play witch dynamic, guided and different chunks and see what is the best thing to do for the different sizes.

[2018-02-20 15:34] chemphys commented on #37
Hey @dgasmith ,
I finalized implementation of parallel regions in electrostatics. I parallelized the permanent electric field calculation, and the gradient calculation. To give you an idea, here are the times, in ms, of what it takes to obtain the energy for a system of N water molecules.
[code]
And this is how the speed up plots look like for the total energy and the electrostatics, using dynamic

[2018-02-20 17:16] dgasmith commented on #37
You can always change the chunk size from the start. But yea, inverting the loop may help the algorithm.

Overall, I think this looks good for a first pass. I suspect if we need to go faster we can probably get better gains in algorithm design over squeezing a few more percent out of the upper end.

We just need to note below 64/128 water molecules or so performance goes down quite steeply for lar

[2018-02-28 22:59] chemphys commented on #37
Seems that for now this is set. We will come back if we want to improve the performance of N < 128 water molecules. Closing issue.

[2018-02-28 22:59] #37 closed

[2018-02-28 23:00] chemphys commented on #38
Implemented a parallel condenstation of the gradients. Closing issue.

[2018-02-28 23:00] #38 closed

[2018-02-28 23:05] chemphys opened #40 "OpenMM plugin for clusters MB-pol/MB-nrg [WIP]"
Opening this issue to keep track of the OpenMM plugin implementation.

@dgasmith , I don't know which is the best practice for this, so any input and advice you can give to me regarding on how to structure it would be appreciated.

My idea is to create a new folder in (src?) with the openMM plugin. Do you think that is OK, or is better to create a folder in the home directory of the code called "c

[2018-03-01 01:00] dgasmith commented on #40
It could go either way. What do OpenMM plugins usually do?

-Daniel Smith
Sent from my iPhone.

[2018-03-01 19:14] chemphys commented on #40
It is usually a whole repo for the plugin itself.

[2018-03-02 20:11] chemphys commented on #40
For now I am putting it in src. This way I can use the same CMake structure. If we think that we can reorganize that later, it won't be that bad to do.

I will keep you updated!

[2018-03-02 21:51] chemphys commented on #40
@zonca , the tree of the plugin has to be that one? I mean, is it necessary to have the include and the src folder separately, with the include/openmm/internal ... etc stuff? Or can I have it as I want? Thanks!

[2018-03-02 21:55] zonca commented on #40
it is better to keep the same structure, so if somebody else already familiar with OpenMM looks at the plugin it finds the usual plugin structure.

[2018-03-02 22:00] chemphys commented on #40
Perfect. thanks!
Next wednesday I would like to have another chat with you to make a basic example to work. Hopefully I will have a good understanding of the plugins by then, and we can have a high level conversation.

Thank you!

[2018-03-03 23:24] chemphys commented on #40
Hey @zonca ,

I think I have been able to put my classes and functions into the plugin. Now I need to do some stuff, but there are some questions you might be able to answer.

1. I have a System class, but I need to fill it with the coordinates and the monomer types when I initialize. This has to be done only once, since later I just need to update coordinates. Do I need to define the monomers in

[2018-03-04 11:27] zonca commented on #40
1.  for now just assume that you always and only have `OHH` `OHH` so you can get it working, then later we can find a more general solution
2. yes, `initialize`

[2018-03-05 19:27] chemphys opened #42 "Set/Get coordinates and get gradients from system needs modification"
The get/set coordinates from the system currently implemented return the coordinates AS THEY ARE. This means that will return the reordered coordinates, and add them in the order of the input, messing with the order of the monomers inside the code.

This needs to be addressed.
* Set coordinates should take the coordinates in the original input order, and set them in the system in the actual system

[2018-03-05 19:31] chemphys commented on #29
Closing this issue. I think we are where we want in performance for now.

[2018-03-05 19:31] #29 closed

[2018-03-05 19:32] chemphys commented on #22
Since dispersion takes nothing in comparison with the rest of the code, we will leave this closed.

[2018-03-05 19:32] #22 closed

[2018-03-06 02:00] chemphys commented on #40
@zonca , I finished the plugin. The [test](https://github.com/chemphys/clusters_ultimate/tree/mrr/openmm_plugin/plugins/openmm/platforms/reference/tests) that is testing the cpp version of the plugin works fine. The libraries are installed in the openmm directory, and they work fine.
The problem is in the python part. I added a silly test file for python [here](https://github.com/chemphys/clusters

[2018-03-06 09:31] zonca commented on #40
I don't see your parser, a Python file that parses the xml, the equivalent of this: https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/mbpol.py

[2018-03-06 16:52] chemphys commented on #40
So I do need that too... OK, I will write it.
Thanks Andrea!

[2018-03-06 17:59] chemphys commented on #40
I added it, but there might be something weird with the paths. It still doesn't find the XML. If I manually copy it to where it looks for it, it still does not recognize the HOH residue. I compared your [cmakelists](https://github.com/paesanilab/mbpol_openmm_plugin/blob/master/python/CMakeLists.txt) file with [mine](https://github.com/chemphys/clusters_ultimate/blob/mrr/openmm_plugin/plugins/openm

[2018-03-06 18:01] zonca commented on #40
You also need make PythonInstall

Il mar 6 mar 2018, 19:00 Marc Riera Riambau <notifications@github.com> ha
scritto:

[2018-03-06 18:07] chemphys commented on #40
I did that.

[2018-03-06 18:22] zonca commented on #40
Try directly python setup.py install from the python folder. That is a simple python package install, it should always work.

[2018-03-06 18:51] chemphys commented on #40
It doesn't work either. Let's see if we can figure this out tomorrow together.

[2018-03-10 00:01] chemphys commented on #40
So, seems like it is working. I will run some benchmarks over the weekend, and see how long does it take to get 100 MD steps and how does this scale with the number of threads. I will keep you all posted.

[2018-03-12 01:57] chemphys commented on #42
This has been fixed. Closing issue.

[2018-03-12 01:57] #42 closed

[2018-03-12 02:02] chemphys commented on #40
I put here a comparison of DLPOLY and OpenMM. The simulation is a gas phase simulation of a cluster with 256 water molecules, for 100 steps. @zonca , I put here the pdb file I used. Would you mind running a 100 step simulation for that system (is a gas phase system) and put here ( [water256.pdb.zip](https://github.com/paesanilab/clusters_ultimate/files/1801181/water256.pdb.zip) ) the time it takes

[2018-03-13 18:09] zonca commented on #40
@chemphys I compiled the `mbpol_openmm_plugin` with the CPU platform on ockam under your account.
I think it is quicker if you run the benchmark with the same code you used for MBnrg, just replace `mbnrg.xml` with `mbpol.xml`, and you can test both the Reference Platform and the CPU platform.

[2018-03-13 18:32] chemphys commented on #40
Thanks @zonca ! I will do it.
I would also like to have a chat tomorrow again. We want now to implement the PBC, and we (@dgasmith , @fpaesani , @agoetz and myself) think that it will be better to try to use the actual openMM electrostatics, or the one that you have implemented. We don't know exactly how can we tackel this, but I hope I can have a draft of the idea tomorrow together with you. Sinc

[2018-03-13 18:45] zonca commented on #40
Ok for a call tomorrow

[2018-03-15 20:57] chemphys commented on #40
Hi @fpaesani , @zonca , @agoetz , and @dgasmith . Find here updated the figure with the corresponding timings for OpenMM - MBpol. Seeing this, I think it will be great if we can use the real part of the electrostatics from the clusters code, and then get the necessary information to run the Ewald part from Andrea's code. I will work on this during the next days.

![timing_platforms_20180311](https

[2018-03-22 16:33] chemphys opened #43 "Periodic Boundary Conditions Domain Decomposition"
Hey @dgasmith , I think I will need a little bit of advice here. I have been trying to adapt the kd-tree to work on PBC, but it is way more complicated than I expected. I am looking for methods to cluster the molecules fast and in PBC, but I cannot find anything reliable.
Any idea of which kind of data structure would be good for this?

There are a few in Python, but I don't think if it would be w

[2018-03-22 17:18] chemphys commented on #43
One solution would be to replicate inside the cutoff the molecules of the neighbor boxes. Hopefully is not too expensive.

[2018-03-22 19:07] chemphys commented on #43
I patched it for now by doing a 27 fold box. I don't know how slower will it be, but I will do some tests.

[2018-03-23 20:53] chemphys opened #44 "PBC dispersion"
Hey @dgasmith ,

I remember that when we talked about periodic boundary conditions, you mentioned that usually, to ensure integration, one sets the dispersion at the cutoff to 0, and shifts the whole potential.
We can talk about the best way to do this on Monday, if that is OK for you. Here is Spring Break, and I don't know if you guys have this too, but I will be at school for sure.

As an update

[2018-03-23 21:31] dgasmith commented on #44
Ah, we are here and I was unaware of any spring break so I was planning to meet regardless. Yes, with PBC we have a bit to talk about. Unfortunately I do not know of any good links to begin that conversation.

[2018-03-30 17:49] chemphys commented on #43
Closing this for now. We might want to come back later to this issue.

[2018-03-30 17:49] #43 closed

[2018-03-30 20:32] chemphys commented on #40
Hey @fpaesani , @dgasmith , and @agoetz

The table below shows the time (in seconds) it takes as a function of number of cores to perform *100 steps* for a system of *256 water molecules*. I updated the times for the total simulation (all contributions) for MB-nrg and MB-pol because the machine I am using is a new one and is faster than my old one. The times now have dropped dramatically.

 | Numb

[2018-03-30 23:16] fpaesani commented on #40
@chemphys @dgasmith @zonca @agoetz This is quite promising! Let's see what happens in periodic boundary conditions, keeping in mind that this still uses the iterative method to converge the induced dipoles, which implies that there will be additional speedup when we move to DIIS or ASPC. Thanks!

[2018-03-31 19:10] zonca commented on #40
@chemphys, great performance numbers!
I agree with your plan

[2018-04-02 10:15] agoetz commented on #40
@chemphys This looks great and as @fpaesani  says, we should see significant speedup during MD with DIIS or ASPC. Are the PIP numbers (1B/2B/3B) from the MB-pol or MB-nrg plugin? Do you know why these terms parallelize so badly (or not at all)?

[2018-04-02 21:14] chemphys commented on #40
This is from OpenMM-MB-pol. I don't know why the scaling is so bad for them. Maybe @zonca knows.

[2018-04-02 21:32] dgasmith commented on #40
Previous tests showed reasonable scaling for the n-body terms in MB-nrg. It seems like something specific to these runs.

[2018-04-03 12:46] zonca commented on #40
Its because they are single-threaded. Only Electrostatics supports multiple
threads.

Il lun 2 apr 2018, 22:33 Daniel Smith <notifications@github.com> ha scritto:

[2018-04-03 16:56] agoetz commented on #40
OK, good. @chemphys do you have timings for the threaded 1B/2B/3B terms in the implementation that you developed with @dgasmith ? Do you know how many iterations the electrostatics require to converge at each time step? This will give us an idea of the maximum speedup that we can expect due to DIIS or ASPC.

[2018-04-06 16:45] chemphys opened #45 "CMake Behaving weird for the plugin"
Hey @dgasmith ,
Once I am done with a couple of minor things to polish, I would appreciate if we can sit together and figure out a way to make CMake work properly. I open this issue to remind me to do it.
For now, the following things are not behaving well:
- Need to find a way to decide which compiler to use (intel/clang/gnu)
- Seems like CMake is not accepting to use the std=c++11

In principle,

[2018-04-06 17:13] dgasmith commented on #45
The `--DCMAKE_CXX_COMPILER` flag switches the compiler when you run CMake. Without this flag, CMake chooses the first compiler in your path. For C++ standards the following is need:

[code]

[2018-10-11 18:26] chemphys opened #51 "Make constant variables passed by reference actually constant"
Some functions use variables as constant, but it is not specified that they are constant (specially variables passed by reference). This needs to be fixed.

[2018-10-15 16:53] chemphys opened #53 "Energy with 0 polarizability and 0 polarizability factor seems to be hanging"
When 0pol and 0 polfac are used, the electrostatics energy seems to hang in the gamma function. That should be investigated and fixed.

[2018-10-15 16:55] chemphys opened #54 "Add cutoff for electrostatics."
A cutoff for electrostatics should be added to the code. First approximation should use the minimum image convention, and later on changed to a more efficient algorithm.

[2018-10-15 16:57] chemphys commented on #17
Closing this issue for now. It may be revisited later on.

[2018-10-15 16:57] #17 closed

[2018-10-19 15:10] chemphys opened #55 "Improve generalization in energy calls"
As the code is today, the monomer information, polynomial coefficients, and so on, are hardcoded inside the classes and the code. We should find a way to generalize that, so adding a new monomer does not imply changing the source code and recompile.

[2018-10-19 15:35] fpaesani commented on #55
I think we should optimize this part in such a way that this information is passed at the input level so that the user has the possibility to change it.

[2018-10-19 15:38] chemphys commented on #55
I think we can use something like what we have for the potentiall fitting repo. Have a configuration file, that will basically be a polynomial, charges, masses, or whatever the code needs.

[2018-10-19 17:11] chemphys commented on #53
This issue has been fixed. CLosing

[2018-10-19 23:21] chemphys commented on #44
@andysim , I opened this issue a while ago, but is also something to remember. As today's date, the dispersion in PBC is scaled. This means that for each pair, the dispersion is scaled so at the cutoff distance gets the value of 0. I recall you saying that there was a better way to do this. Just to keep it in mind.

[2019-03-08 18:05] chemphys commented on #44
Issue solved. We added PME for dispersion.
Closing!

[2019-03-08 18:05] #44 closed

[2019-03-08 18:05] #45 closed

[2019-03-08 18:07] chemphys commented on #54
This is solved. It is implemented but needs to be updated to something more efficient.
Will open projects so we can keep track of ideas and things to do.

[2019-03-08 18:07] #54 closed

[2019-04-11 14:54] chemphys opened #60 "Need to write unittest for charge gradients"
There must be a unittest for the charge gradients. On the way, rewrite and understand well the charge gradients is crucial.
Look at `SetCharges` and `chargederivativeforce` from `sys_tools.cpp, and look at `ps.cpp` for reference.

[2019-10-22 22:30] chemphys opened #61 "Write unittests for dipole functions"
The dipole functions are currently not used or tested. It would be nice to write a test at least for water and make sure that it is working properly and as expected.
The comparison should be done with the values from DLPOLY

[2019-10-24 16:12] chemphys opened #62 "Add convergence params update in electrostatics"
diptol_, maxItDip_, dipole_method_ should be updated when updating the coordinates. Right now, once the system is initialized, this is not modified anymore.

[2019-10-26 20:31] chemphys commented on #62
solved.

[2019-10-26 20:31] #62 closed

[2019-10-28 19:07] chemphys opened #63 "Update electrostatic force calculation with new functions in helpme"
We need to update the force calculation using the new functions that @andysim has implemented in helpme.h

[2019-11-15 15:40] chemphys commented on #63
@elambros is this done?

[2019-11-15 15:41] chemphys opened #64 "Typo in alpha"
There is a consistent typo across the json files and the system class. The json element alpha is currently being names aplha. Needs to be changed.

[2019-11-16 20:35] chemphys commented on #64
fixed

[2019-11-16 20:35] #64 closed

[2019-12-05 21:27] ctangtar opened #65 "CRITICAL BUG in energy2b.cpp"
Energy2b.cpp has a problem. When the pair is not found in that function, it simply returns 0. The problem appears when the monomers m1 and m2 are swapped, which causes the gradients to not be reswapped.
[code]

should be changed to
[code]

This problem only appears when we only have TTM potential and we dont have MB-nrg potential implemented. @chemphys will fix this in an upcoming release.

[2020-02-26 08:37] ctangtar opened #66 "correlation.dat 2nd column incorrect for fit-2b-ttm"
for fit-2b-ttm, the predicted energy from the ttm model(2nd column of correlation.dat) is printed incorrectly. when printing to corrleation.dat, the dispersion is uses the wrong parameters, change final_l to final_nl.

[2020-02-26 16:32] agoetz commented on #66
Thank you for catching and reporting. I opened a bugfix PR in potential_fitting with @chemphys to review. Closing this issue here as it is fixed in potential_fitting. Thanks!

[2020-02-26 16:32] #66 closed

[2020-03-24 19:54] epyeh opened #67 "Incorrect unit test for unittest-co2-monomer"
With the implementation of the classic potential we can calculate the bonds and angle energies for co2. However, at the time of implementation the JSON file was not implemented to select a one body potential or a classical one. Instead, the sum of each is given as the energy. The file setup_co2_1.h has the following lines that will need to be changed:
double total_energy = 9.9150780942e+00 + class

[2020-05-06 17:40] #67 closed

[2020-05-06 17:40] #65 closed

[2020-05-06 17:41] #63 closed

[2020-05-06 17:42] chemphys commented on #40
OpenMM will be removed from MBX. Closing.

[2020-05-06 17:42] #40 closed

[2020-05-06 17:42] chemphys commented on #30
Seems like the soruce was the PME part. This is fixed.

[2020-05-06 17:42] #30 closed

[2020-05-15 14:48] chemphys opened #68 "Something odd with general box implementation"
There are some weird issues with the general box implementation. We need to investigate and write proper tests.

[2020-05-28 17:34] acaruso0 opened #69 "buckingham turned off"
In the master-dev_switch_ttm_poly branch of the chemphys fork, in "/src/potential/buckingham/buckingham.cpp" at line 386, the Buckingham contribution is switched off if the TTM pairs are enforced (rep_energy_ = 0.0;).

[2020-10-19 20:08] elambros opened #70 "Add monomer identification from site index"
I would like a function or vector to be added which would let the user identify the monomer name and index to which an atomic/site index belongs to. e.g.

for example, for a system containing 1h2o and 1 co2 (in that order) we could have a list with the monomer id and index to which each site belongs:

mon_id_list=[h2o, h2o, h2o, h2o, co2, co2, co2]
mon_index_list=[0, 0, 0, 0, 1, 1, 1]

So that if

[2020-10-20 12:30] #69 closed

[2020-10-20 12:30] chemphys commented on #69
This has been addressed

[2020-10-20 12:30] chemphys commented on #68
Seems like things have been addressed with recent bugfixes.

[2020-10-20 12:30] #68 closed

[2022-03-04 15:57] HuangJiaLian opened #74 "Installation error on MacOS: "Could NOT find FFTW" when it is installed."
Dear Sir,

I failed to install MBX on my MacOS 12.2.1 even after  FFTW was installed by `brew install fftw`.

The output of `ls -l /usr/local/include/fftw3*` :
[code]

These are the steps I did:

Step 1:
[code]
Output 1:
[code]

Then change to the directory by `cd build/`.
Step 2:
[code]

Output 2:

[code]
`CMakeOutput.log` and `CMakeError.log` are in following links:
https://cdn.jsdelivr.net/gh/H

[2022-03-04 16:01] HuangJiaLian commented on #74
PS: I downloaded the package `MBX_2021.11.01_v0.4.0a.zip`  from http://paesanigroup.ucsd.edu/software/mbx.html

[2022-03-04 17:31] chemphys commented on #74
Hello Jie,
Please note that this is not a problem in MBX, but most likely your local configuration. Try to add in the CMake command, to the -DCMAKE_CXX_FLAGS, the include and lib paths of your library. Or try adding them to your PATH variable.

Please do not open issues with compilation problems, since it is not an issue with the code.
Thanks,
Marc

[2022-03-04 17:31] #74 closed

[2022-05-31 08:39] louil95 opened #77 "Library in the makefile of the i-pi plugin isn't linked correctly"
Hello,

on my computer (Debian) the Makefile of the i-pi plugin isn't linked correctly.
Here is my proposed fix, which worked on my machine:

Replace:
LIBS = -lmbxlib -fopenmp -lfftw3
LIBDIR = -L$(MBX_HOME)/install/lib/static

With:
LIBS = -l:libmbx.a -fopenmp -lfftw3
LIBDIR = -L$(MBX_HOME)/install/lib

Greetings Louis

[2022-05-31 12:55] chemphys commented on #77
Hello @louil95 !

Thanks for the headsup. I will have this fixed today. As you may have seen, we just changed the whole installation process and I completely missed the i-pi makefile.

[2022-05-31 13:12] chemphys commented on #77
Hello! The changes have been applied to the master branch. Thanks for letting us know!
I will close the issue now.

[2022-05-31 13:12] #77 closed

[2022-06-03 17:06] louil95 opened #79 "Meaning of max_n_eval_Xb not clear"
Hello,

Thanks for the nice program!

it is not mentioned in the README, but the mbx.json file includes three variables:

"max_n_eval_1b"    : 500,
"max_n_eval_2b"    : 500,
"max_n_eval_3b"    : 500,

From the file system.cpp its seems like those parameter are defining the range of calculated X-body interactions.
Does this mean, after max_n_eval_Xb > 500 the other interactions are simply neglected

[2022-06-03 17:26] chemphys commented on #79
Hello Lois! It is not in the README. I may remove them from the code, actually. The initial idea of that was to control the amount of monomers, dimers and trimers sent at once to the polynomials. Effectively, now is done 1 by 1, so there is not much use for those variables.

You can just ignore them. Tha maximum number referes just to that, the maximum n-mers passed at once to the polynomials. Not

[2022-06-03 18:50] #79 closed

[2022-06-03 20:08] louil95 commented on #79
Thanks for the answer. I’m sorry I overread the keeping the issue open part.

[2022-06-03 20:09] chemphys commented on #79
No problem!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: louil95 ***@***.***>
Sent: Friday, June 3, 2022 4:08:46 PM
To: paesanilab/MBX ***@***.***>
Cc: Marc Riera-riambau ***@***.***>; Comment ***@***.***>
Subject: Re: [paesanilab/MBX] Meaning of max_n_eval_Xb not clear (Issue #79)

Thanks for the answer. I’m sorry I overread the keeping the issue open pa

[2022-07-30 19:08] #70 closed

[2022-10-12 05:50] smlee99 opened #80 "OpenMM plugin support"
Hi MB-pol devs. This is not directly related to the current version of MBX but I'd like to ask some questions regarding openMM support. I remembered that MBX previously supported the openMM plugin and I once installed the plugin version mbpol-1.0-py3.5-linux-x86_64.egg. It seems like such plugin is now completely removed from MBX (as seen in #40). Can I ask the reason why openMM is no longer suppo

[2022-10-12 13:33] chemphys commented on #80
Hello,

We decided to discontinue support to OpenMM for a variety of reason, one of them being the speed of the energy calculation. We strongly recommend to migrate to LAMMPS. It may take 1 or 2 days to get familiar with it, but you will see a 10x-15x speedup and the possibility to use both OpenMP and MPI parallelization. There are some examples of lammps inputs for an MBX simulations in plugins/l

[2022-10-12 13:34] chemphys commented on #80
Closing this issue.

[2022-10-12 13:34] #80 closed

[2022-10-18 16:07] chemphys opened #81 "Ensure that make check can only be run when configured without MPI"

[2022-11-08 20:56] Miniland1333 opened #82 "Update Readme.md badges"
Update the Actions and Codecov badges to point to this repository, rather than the MBX-dev or chemphys fork.
This should probably wait until after [1db1d7c5f9d9d1ce5cd0eb801dd73b65e1530ad0 ](https://github.com/paesanilab/MBX-dev/commit/1db1d7c5f9d9d1ce5cd0eb801dd73b65e1530ad0)is merged in to avoid a merge conflict.

[![MBX testing suite](https://github.com/paesanilab/MBX/actions/workflows/github-a